/*重置样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, div , header , main , nav ,footer{ margin:0; padding:0; box-sizing: border-box;}
fieldset, img { border:none; }
img{vertical-align: middle;}
em,i,b,strong{ font-style:normal; font-weight:normal; }
ul, ol { list-style:none; } 
a {text-decoration:none; }


.shopping{
	height: auto!important;
    width: 980px;
    margin: 0 auto;
    padding-top: 18px;
    margin-bottom: 20px;
    color: #252525;
    h3{
	    background: #ba2620;
	    width: 163px;
    	height: 40px;
    	text-align: center;
	    line-height: 40px;
	    font-size: 14px;
	    color: #fff;
	    font-weight: normal;
    }
    .cart_container{
    	width: 955px;
    	margin: 0 auto;
    	padding-top: 20px;
    	#cart_main{
			width: 955px;
			text-align: center;
			font-size: 16px;
		    border-collapse: collapse;
    		border-spacing: 0;
			thead{
				background: #fff;
				padding-bottom: 10px;
			    display: table-header-group;
			    vertical-align: middle;
			    border-color: inherit;
				tr{
					th{
						height: 36px;
					    line-height: 36px;
					    border-top: 1px solid #7c0d02;
					    border-bottom: 4px solid #7c0d02;
					    color: #670205;
					    font-size: 16px; 
					}				    
				}
			}
			tbody{
				border-bottom: 1px solid #7c0d02;
				display: table-row-group;
			    vertical-align: middle;
			    border-color: inherit;
			    tr{
			    	td{
			    		vertical-align: middle;
					    text-align: center;
					    padding: 20px 0;
					    border-bottom: 1px dotted #ccc;
			    	}
			    	img{
					   	width: 105px;
					    height: 105px;
					    padding: 5px;
					    vertical-align: middle;
					    font-size: 0;
					    line-height: 0;
					    overflow: hidden;
					    border: 1px solid #ccc;
			   		} 
			    	.desc{
					   	color: #333;
    					font-size: 16px;
				    }
				   	.price,.sub{
					   	font-size: 14px;
					    color: #670205;
					    font-weight: 600;
				        vertical-align: middle;
					    text-align: center;
					    padding: 20px 0;
				    }
				    span{
				    	border: 1px solid #ccc;
				    	height: 25px;
				    	line-height: 22px;
				    	margin:0 2px;
				    	display: inline-block;
						cursor: pointer;
				    }
				    input{
				    	width: 40px;
					    height: 22px;
					    margin: 0;
					    text-align: center;
					    font-size: 16px;
				    }
					a{
						color: #000;
						&:hover{
							color:red;
						};
					}
			    }
			}
			tfoot{
				background: #fff;
				padding-bottom: 10px;
			    display: table-header-group;
			    vertical-align: middle;
			    border-color: inherit;
				tr{	
					width: 955px;
					border-bottom: 4px solid #7c0d02;
					td{
						height: 36px;
					    line-height: 36px;
					    border-top: 1px solid #7c0d02;
					   	padding: 20px 0 5px;
					    color: #670205;
					    font-size: 16px; 
					}	
					.tfoot_left{
						text-align: left!important;
						color: #252525;
						.order-btn-cons{
							padding: 0 0 20px 0;
						    clear: both;
						    text-align: left;
						    .total_price{
						    	font-size: 14px;
    							color: #000;
    							#total-price{
									padding: 0 50px;
								    color: #670205;
								    font-size: 18px;
    							}
						    }
						}
					}
					.tfoot_right{
						padding: 20px 0 5px;
    					border: 0;
    					text-align: right;
    					vertical-align: middle;
    					a{
    						display: inline-block;
						    width: 112px;
						    height: 30px;
						    text-align: center;
						    line-height: 30px;
						    color: #ba291f;
						    font-size: 14px;
						    background: #fff;
						    border: 1px solid #ba291f;
						    vertical-align: middle;
    					}
    					#cart_submit{
    						font-size: 14px;
						    height: 30px;
						    line-height: 30px;
						    width: 112px;
					        display: inline-block;
						    color: #fff;
						    background: #7c0d02;
						    text-align: center;
						    text-decoration: none!important;
						    vertical-align: middle;
						    border: 0 none!important;
						    cursor: pointer;
						    font-weight: normal;
						    outline: thin none transparent;
    					}
					}			    
				}
			}
		}
    }
}